
*{
   font-family: poppins, sans-serif;
    
}
body{
    color: whitesmoke;
    
}
#headercontainer{
    display: flex;
    background-color: #1f2937;
    height: 800px;
    flex-wrap: wrap;
   
}
#headerhyperlinks, ul{
    display: flex;
    flex: 1 1 auto;
    gap: 50px;
    justify-content: flex-end;
    justify-content: space-around;
    list-style-type: none;
    
}
#maintitle{
    gap: 20px;
    font-weight: 900;
    font-size: 24px;
    justify-self: left;
}
a{
  text-decoration: none;
  color: whitesmoke;

}
#article{
    margin-left: 70px;
    font-size: 48px;
}
 #mainimage{
   
 }   
