#headercontainer{
    display: flex;
    background-color: #00aeff;
   
}
#headerhyperlinks, ul{
    display: flex;
    flex: 1 1 auto;
    gap: 50px;
    justify-content: flex-end;
    justify-content: space-around;
}
#maintitle{
    display: flex;
    
}