
#headercontainer{
    display: flex;
    background-color: #00aeff;
    height: 400px;
    
   
}
#headerhyperlinks, ul{
    display: flex;
    flex: 1 1 auto;
    gap: 50px;
    justify-content: flex-end;
    justify-content: space-around;
    list-style-type: none;
    color: black;
    
}
#maintitle{
    gap: 20px;
}
a{
  text-decoration: none;
}
    
    
